@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
    height: 100vw;
    color: white;
    
}
nav{
    width: 100%;
   
    color: white;
}
.pages{
    font-size: 1.6rem;
   ;
}
.pages ul{
    height: 50px;
    padding: 15px;
}
.logo{
    font-weight: bolder;
    /* margin-left: 21%; */
    font-size: 2.0rem;
    margin-top: 15px;
    margin-left: 130px;
    display: inline-block;
}
.pages a{
    text-decoration: none;
    color: white;
}
.menu{
    width: auto;
    display: inline-block;
    margin-left: 40%;
}
.menu li{
    list-style: none;
    list-style-type: none;
    display: inline-block;
    padding: 12px;
    margin-right: -2%;

}
.global{
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100vw;
    justify-content: center;
}
.titulo{
    width: 49%;
}

.titulo h3{
    font-size: 2.5rem;
    display: inline-block;
    color: white;

}
.titulo p{
    width: 342px;
    color: white;
    font-size: 1.0rem;
    font-size: 1.2rem;


}
.enviar{
    color: white;
    width: 125px;
    background-color: blue;
    height:61px;
    border: none;
}
.subtitle{
    width: 33%;
    display: inline-block;
}
.global-icon{
    width: 66.6%;
    display: inline-flex;
    flex-wrap: wrap;
}
.global-details{
    display: flex;
    padding: 0 200px;
    justify-content: center;
    align-items: center;
    
}
.icon{
    width:49.9%;
}
.global-portfolio{
    display: flex;
}
.global-portfolio img{
    width: 100%;
   

}


 